<ion-app>
  <app-menu [titulo]="'Alta Producto'"></app-menu>

  <ion-content (swipe)="swipe()">
    <ion-grid>
      <ion-row class="img-div">
        <img
          (click)="selectImage()"
          src="{{this.img}}"
          class="img-add"
          alt=""
        />
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-label class="comentarios"
            >Codigo de Barras ejemplo:1234567890</ion-label
          >
          <ion-item>
            <ion-input
              type="number"
              [ngClass]="{disponiblee: this.disponible == true, ocupado: this.disponible == false}"
              placeholder=""
              [(formControl)]="cdb"
            ></ion-input>
            <ion-icon
              slot="end"
              name="barcode"
              class="icono"
              (click)="escanear()"
            ></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-label class="comentarios"
            >Marca: (Ejemplo: Dolores, Samsung, Bimbo...)</ion-label
          >
          <ion-item>
            <ion-input
              type="text"
              [(ngModel)]="marca"
              placeholder=""
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-label class="comentarios">Artículo ejemplo:coca-cola</ion-label>
          <ion-item>
            <ion-input
              type="text"
              [(ngModel)]="nombre"
              placeholder=""
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-label class="comentarios"
            >Descripción: (Ejemplo: Regular)</ion-label
          >
          <ion-item>
            <ion-input
              type="text"
              [(ngModel)]="descripcion"
              placeholder=""
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-label class="comentarios">
            Alias: (Ejemplo: Plátano, Banana, Banano)</ion-label
          >
          <ion-item>
            <ion-input
              type="text"
              [(ngModel)]="alias"
              placeholder=""
            ></ion-input> </ion-item
          ><br />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-label class="comentarios">
            Contenido Neto: ej 150g/1kg/10Uni)</ion-label
          >
          <ion-item>
            <ion-input
              type="number"
              [(ngModel)]="contenido"
              placeholder=""
            ></ion-input>

            <ion-select
              value="Kilogramo"
              [(ngModel)]="tipoContenido"
              multiple="false"
            >
              <ion-select-option value="Kilogramo"
                >Kilogramo(s)</ion-select-option
              >
              <ion-select-option value="Gramo">Gramo(s)</ion-select-option>
              <ion-select-option value="Unidad">Unidad(s)</ion-select-option>
            </ion-select>
          </ion-item>
          <br />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-label class="comentarios">
            A que categoria pertenece este producto ej: Abarrotes
            Galletas</ion-label
          >

          <ion-item>
            <ion-label>Categoria</ion-label>
            <ion-select
              (ionChange)="onChange($event)"
              multiple="false"
              placeholder="Select Categoria"
            >
              <ion-select-option
                *ngFor="let categoria of categorias"
                value="{{categoria['nombre']}}"
                >{{categoria['nombre']}}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>Subcategoria</ion-label>
            <ion-select
              [(ngModel)]="categoriaProducto"
              multiple="false"
              placeholder="Select Subcategoria"
            >
              <ion-select-option
                *ngFor="let subcategoria of subcategorias"
                value="{{subcategoria}}"
                >{{subcategoria}}</ion-select-option
              >
            </ion-select>
          </ion-item>
          <br />
        </ion-col>
      </ion-row>

      <ion-button
        class="boton"
        disabled="{{!this.disponible}}"
        color="success"
        (click)="subir()"
        >Guardar</ion-button
      >
    </ion-grid>
  </ion-content>
</ion-app>
