<ion-content [fullscreen]="true">
  <!-- <h1 class="ion-text-center">
    REGISTRO DE <br />
    USUARIO
  </h1>
  <div class="img-div">
    <ion-label class="img-label">Seleccionar Foto</ion-label>
    <img (click)="imgSelect()" class="img-add" src="{{ Img }}" alt="" />
  </div> -->
  <ion-icon name="person-circle-sharp" class="icono"></ion-icon>
  <br />
  <legend class="titulo">LocMark <br />Registro</legend>
  <br />
  <div class="ion-text-center div-form">
    <ion-item>
      <ion-input
        type="text"
        [(ngModel)]="nombre"
        placeholder="Nombre Completo"
      ></ion-input>
    </ion-item>

    <ion-item class="item">
      <ion-input
        type="text"
        [formControl]="username"
        placeholder="Username"
      ></ion-input>
    </ion-item>
    <legend class="error" *ngIf="!this.disponible">
      Username ya esta en uso
    </legend>

    <ion-item>
      <ion-input
        type="password"
        [(ngModel)]="contrasena"
        placeholder="Contraseña"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="password"
        [formControl]="contrasena2"
        placeholder="Confirme Contraseña"
      ></ion-input>
    </ion-item>
    <legend class="error" *ngIf="!this.coinciden">
      Contraseña no coincide
    </legend>

    <ion-item>
      <ion-input
        type="email"
        [(ngModel)]="email"
        placeholder="Correo Electronico"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        type="number"
        [(ngModel)]="telefono"
        placeholder="Numero Telefonico ej: +523161091349"
      ></ion-input>
    </ion-item>

    <br />
    <re-captcha
      (resolved)="captchaResolved($event)"
      siteKey="6LfpbPQUAAAAAAQEZnGMvGPyV4w1WGEq5npjV4wx"
    ></re-captcha>

    <ion-button
      expand="block"
      [disabled]="!captchaPassed || !coinciden || !disponible"
      (click)="
        registrar(nombre, username, email, contrasena, contrasena2, telefono)
      "
      class="btn-Registro"
      shape="round"
    >
      Registrar
    </ion-button>
    <ion-label class="ion-text-center"
      >Ya tienes cuenta click <a href="login">aqui</a></ion-label
    >
  </div>
</ion-content>
