<ion-content class="background">

  <ion-grid>
<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-title class="ion-text-center">Actualizar Producto</ion-title>
  </ion-toolbar>
</ion-header>


  <div>
    <ion-input placeholder="Nombre" type="text" [(ngModel)]="nombre">
    </ion-input>

    <ion-input placeholder="Marca" type="text" [(ngModel)]="marca">
    </ion-input>

    <ion-input placeholder="Modelo" type="text" [(ngModel)]="modelo">
    </ion-input>

    <ion-input placeholder="Descripcion" type="text" [(ngModel)]="descripcion">
    </ion-input>

    <ion-row class="img-div">

      <ion-label class="img-label">Seleccionar Foto</ion-label>
      <img (click)="imgSelect()" class="img-add" src="{{Img}}" alt="">

  </ion-row>
    
    <ion-button (click)="actualizar(nombre,marca,modelo,descripcion)" expand=block>Guardar cambios</ion-button>
  </div>
</ion-grid>

</ion-content>

