<ion-app>
  <app-menu [titulo]="'Actualizar Producto'"></app-menu>
  <ion-content class="background">
    <ion-grid>
      <div>
        <ion-row class="img-div">
          <ion-label class="img-label">Seleccionar Foto</ion-label>
          <img (click)="imgSelect()" class="img-add" src="{{Img}}" alt="" />
        </ion-row>

        <ion-input
          placeholder="{{this.actualizacion.tiendas['nombre']}}"
          type="text"
          [(ngModel)]="nombre"
        >
        </ion-input>

        <ion-input
          placeholder="{{this.actualizacion.tiendas['descripcion']}}"
          type="text"
          [(ngModel)]="descripcion"
        >
        </ion-input>

        <ion-button (click)="actualizar(descripcion,nombre)" expand="block"
          >Guardar cambios</ion-button
        >
      </div>
    </ion-grid>
  </ion-content>
</ion-app>
