<app-menu [titulo]="'Actualizar Perfil'"></app-menu>

<ion-content>
  <div class="div">
    <img
      src="https://zaza-app.herokuapp.com/api/imagen/producto/{{
        this.producto.tiendas['img']
      }}"
      width="50%"
      alt=""
    />
    <h1 class="ion-text-center">{{ this.producto.tiendas["descripcion"] }}</h1>
    <br /><br />
    <app-precio-promedio></app-precio-promedio>
    <app-tiendas-cercanas></app-tiendas-cercanas>
    <!-- <app-mapa></app-mapa> -->
  </div>
  <div class="addNegocio">
    <ion-label class="ion-text-center"
      >¿Conoces un negocio que tiene este producto? <br />
      Agregalo <a (click)="addNegocio()">Aqui</a></ion-label
    >
  </div>
</ion-content>
