<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title class="ion-text-center">Buscar</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="div">
    <h1 class="ion-text-center">{{ this.producto.tiendas["nombre"] }}</h1>
    <br /><br />
    <app-precio-promedio></app-precio-promedio>
    <app-tiendas-cercanas></app-tiendas-cercanas>
    <!-- <app-mapa></app-mapa> -->
  </div>
  <ion-label class="addNegocio"
    >¿Conoces un negocio que tiene este producto? <br />
    Agregalo <a (click)="addNegocio()">Aqui</a></ion-label
  >
</ion-content>
