<ion-header>
  <ion-toolbar class="ion-hijo" color="tertiary">
    <ion-buttons slot="start">
      <ion-icon
        slot="start"
        name="arrow-back"
        *ngIf="canGoBack"
        (click)="back()"
      ></ion-icon>
      <ion-icon
        slot="start"
        menuId="main-menu"
        autoHide="true"
        (click)="open()"
        name="menu"
      ></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">{{ titulo }}</ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="cart()" slot="end" name="cart"></ion-icon>
      <ion-label>{{ this.usuario.usuario["carrito"].length }}</ion-label>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
