.txtSort {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}
.select {
  position: relative;
  margin: 0px;
  padding: 0px;
  font-size: 15px;
  border: 1px solid black;
}
.iCantidad {
  position: relative;
  width: 50%;
  height: 20px;
  border: 1px solid black;
  display: inline-block;
  margin-top: 20px;
}

.cantidad {
  position: absolute;
  width: 40%;
  right: 0px;
  text-align: center;
  display: inline-block;
}
.btnLess {
  position: relative;
  display: inline-block;
  margin: 0px;
  padding: 0px;
  background-color: white;
  height: 20px;
  width: 20%;
}

.div {
  position: relative;
  height: auto;
  padding: 0px;
}

.oferta {
  position: relative;
  width: 40px;
  top: -8px;
  right: -110px;
}
.izq {
  position: absolute;
  right: 0px;
  margin-right: 20px;
  text-align: left;
}

.btn-ordenar {
  position: relative;
  width: 40%;
  text-align: left;
  display: inline-block;
}
.tienda {
  border: 1px solid black;
  border-radius: 8px;
  margin-top: 10px;
  padding: 10px;
  height: auto;
}

.selecBtn {
  position: absolute;
  padding: 0px;
  margin: 0px;
  height: 15px;
}
.selecTr {
  position: relative;
  margin: 0px;
  padding: 0px;
}
.selecTd {
  position: relative;
  margin: 0px;
  padding: 0px;
}
