<app-menu [titulo]="'Agregar Negocio'"></app-menu>

<ion-content class="content">
  <ion-refresher slot="fixed">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div class="content">
    <div class="infProducto">
      <img
        src="http://18.191.197.204:3000/api/imagen/producto/{{this.producto.tiendas['img']}}"
        alt=""
      />
      <h1>{{this.producto.tiendas['descripcion']}}</h1>
    </div>

    <form (ngSubmit)="agregarNegocio()">
      <ion-input
        [ngModelOptions]="{standalone: true}"
        type="number"
        [(ngModel)]="precio"
        placeholder="Precio del Producto"
        >$</ion-input
      >
      <ion-input
        [ngModelOptions]="{standalone: true}"
        type="number"
        placeholder="Cuantos tiene en existencia"
        [(ngModel)]="inventario"
      ></ion-input>

      <p>
        Estos son algunos lugares cercanos a tu ubicacion <br />
        Seleccione el negocio donde se encuentra el producto
      </p>
      <ion-item>
        <ion-label>Negocio</ion-label>
        <ion-select
          [ngModelOptions]="{standalone: true}"
          value="Seleccione"
          multiple="false"
          placeholder="Seleccione"
          [(ngModel)]="idNegocio"
        >
          <ion-select-option
            *ngFor="let negocio of negocios.negociosCercanos"
            value="{{negocio['_id']}}"
            >{{negocio['nombre']}}</ion-select-option
          >
        </ion-select>
      </ion-item>
      <p>
        Ó <br />
        <a (click)="agregarTienda()">
          Agregar un negocio que no esta en la lista</a
        >
      </p>

      <ion-button type="submit" expand="block" shape="round">
        Agregar Producto
      </ion-button>
    </form>
  </div>
</ion-content>
