
<ion-content class="background" pandding>
  
 <ion-grid >
  <legend class="titulo">Agregar Producto</legend><br>
   <ion-row>
     <ion-col col-12> 
       <ion-item>
          <ion-input type="text" [(ngModel)]="marca" placeholder="Marca"></ion-input>
      </ion-item><br>
     </ion-col>
    
   </ion-row>
   <ion-row>
    <ion-col col-12 > 
      <ion-item>
        <ion-input type="text" [(ngModel)]="modelo" placeholder="Modelo"></ion-input>
    </ion-item><br>
    </ion-col>
    <ion-col col-12 > 
      <ion-item>
        <ion-input type="text" [(ngModel)]="nombre" placeholder="Nombre"></ion-input>
    </ion-item><br>
  </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 > 
      <ion-item>
        <ion-input type="text" [(ngModel)]="cdb" placeholder="Codigo de barras"></ion-input>
    </ion-item><br>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 > 
      <ion-item>
        <ion-input type="text" [(ngModel)]="precio" placeholder="Precio"></ion-input>
      </ion-item><br>
    </ion-col>
    <ion-col col-12 > 
      <ion-item>
        <ion-input type="text" [(ngModel)]="ubicacion" placeholder="Ubicacion"></ion-input>
      </ion-item><br>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 > 
      <ion-item>
        <ion-input type="text" [(ngModel)]="descripcion" placeholder="Descripcion"></ion-input>
      </ion-item><br>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-12 > 
      <ion-item>
        <ion-input type="text" [(ngModel)]="alias" placeholder="Alias"></ion-input>
      </ion-item><br>
    </ion-col>
  </ion-row>
  <ion-button class="boton" (click)="subir()" expand="block" fill="clear">
    agregar
</ion-button>
 </ion-grid>

</ion-content>
