.precio{
    position: relative;
    border: 1px solid black;
    padding: 20px;
}
.precioBajo{
    color: rgb(114, 172, 27);
}
.agregar{

    position: absolute;
    background:none;
    right: 20px;
    top: 50%;
    transform: translate(-0%,-50%);
    border: 1px solid black;
    height: 45px;
    width: 45px;
    font-size: 45px;
    
}