<ion-app>
  <app-menu [titulo]="'Inicio'"></app-menu>
  <ion-content>
    <app-buscador></app-buscador>
    <br /><br /><br />
    <ion-slides
      [options]="slideOptions"
      pager="true"
      #slider
      (ionSlidesDidLoad)="slidesDidLoad(slider)"
    >
      <ion-slide *ngFor="let imgs of data">
        <img [src]="imgs" />
      </ion-slide>
    </ion-slides>
    <br /><br />
    <legend class="ion-text-center">Marcas Asociadas</legend>
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSShBKuXi48pbx5cHR2EWX0e5Bn6memoii7jw&usqp=CAU"
      alt=""
      width="100%"
    />
  </ion-content>
</ion-app>
