<ion-header>
</ion-header>

<ion-content>
    <ion-card class="muestra">
        <ion-label class="nombre">Nombre</ion-label><br>
        <ion-label class="descripcion">Descripcion</ion-label><br>
        <ion-label class="rating">Estrellas</ion-label>
        <ion-label class="precio">Precio</ion-label><br>
        <ion-label class="precioGramo">Precio <br>por gr.</ion-label><br>
        <ion-label class="contenido">Cont.</ion-label>
        <ion-label class="cont"></ion-label>
        <ion-label class="gramos">gr.</ion-label>
        <ion-label class="gramosPrecio">$</ion-label>
        <ion-img src="https://i.ya-webdesign.com/images/no-image-png-1.png" class="imagen"></ion-img>
        <ion-select value="Precio" id="precio">
            <ion-select-option>$cinko peso</ion-select-option>
            <ion-select-option>$cinko peso</ion-select-option>
            <ion-select-option>$cinko peso</ion-select-option>
            <ion-select-option>$cinko peso</ion-select-option>
            <ion-select-option>$cinko peso</ion-select-option>
            <ion-select-option>$cinko peso</ion-select-option>
        </ion-select>
        <ion-button class="seleccionar">SELECCIONAR</ion-button>
    </ion-card>
    <div class="otro">
        <ion-button class="compararOtro" color="danger">comparar otro</ion-button>
    </div>
</ion-content>