.div{
    position: relative;
    border: 1px solid black;
    height: auto;
    padding: 20px;
}

.izq{
    position:absolute;
    right: 0px;
    margin-right: 20px;
}
.tienda{
    position: relative;
    margin: 50px;
}