
.titulo {
    color: black;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.boton {
    background-color: #333FFF;
    color: black;
    border-radius: 25px;
}

 .borde {
    background-color:whitesmoke;
       border: 10px solid ;
       border-radius: 25px;
       margin: 20px;
       position: center; 
      
       
       bottom: 1;
      position: relative;
      top: 50%; /* Buscamos el centro horizontal (relativo) del navegador */
      left: 45%; /* Buscamos el centro vertical (relativo) del navegador */
      width: 50%; /* Definimos el ancho del objeto a centrar */
      height: 105%; /* Definimos el alto del objeto a centrar */
      margin-top: -200px; /* Restamos la mitad de la altura del objeto con un margin-top */
      margin-left: -300px; /* Restamos la mitad de la anchura del objeto con un margin-left */
  
      
  }
  ion-content.background {
    --background: url('../../assets/alta-producto.jpg') 0 0/100% 100% no-repeat;
}