.buscador{
    border: 1px solid black;
    position: relative;
    height: auto;
}
.input{
    position: relative;
    width: 75%;
    margin: 0px;
    height: 100%;
    display: inline-block;
   ;
}
.boton{
    position: relative;
    width: 20%;
    height: 100%;
    margin: 0px;
    display: inline-block;
    border-left: 1px solid black;
}
.resultados{
    position: relative;
    width: 100%;
    height: 300px;
    border: 1px solid black;
    background-color: cadetblue;
    overflow-y: auto;
}

