<ion-content class="background">

  <ion-grid>
<ion-header>
  <ion-toolbar color="tertiary" >
    <ion-title class="ion-text-center">Actualizar Usuario</ion-title>
  </ion-toolbar>
</ion-header>


  <div>
    <ion-input placeholder="Nombre" type="text" [(ngModel)]="nombre">
    </ion-input>

    <ion-input placeholder="Telefono" type="text" [(ngModel)]="telefono">
    </ion-input>

    <ion-input placeholder="Contrasena" type="text" [(ngModel)]="contrasena">
    </ion-input>

    <ion-input placeholder="ConfirmarContrasena" type="text" [(ngModel)]="confirmarContrasena">
    </ion-input>
    
    <ion-button (click)="actualizacion()" expand=block>Guardar cambios</ion-button>
  </div>
</ion-grid>

</ion-content>

